#=========================
# Huxley Manifest File
#=========================
# This file is used to specify your project's cluster and what Huxley launches into it.

#=============================
# Githook Server Data
#=============================
# This array holds the name of services that get restart when you push to the hook server.
restart: ["vanilla"]

#=============================
# Template Descriptions
#=============================
# This section configures services that are deployed into the cluster. Services prefixed with
# "pc_" are templates stored in the panda-cluster library.

# Template values are specified as members of the unit's object.
# Specifiying "null" as the object's value will deliver the service file "as is".
service_templates:
  vanilla: null

  pc_elasticsearch:
    after: ["docker.service"]
    container_name: "elasticsearch"
    image_name: "pandastrike/pc_elasticsearch"
    hostname: "elasticsearch.vanilla.cluster"
    port: "2010"
    type: "A"

  pc_kibana:
    after: ["docker.service", "elasticsearch.service"]
    container_name: "kibana"
    image_name: "pandastrike/pc_kibana"
    hostname: "kibana.vanilla.pandastrike.com"
    port: "80"
    elasticsearch_url: "elasticsearch.vanilla.cluster:2001"
